.clearfix_workbench:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix_workbench {
  /*overflow: auto;*/
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
a:hover {
  text-decoration: none;
}
.border_box {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.wary_workbench {
	background-color: #f2f2f2;
  width: 100%;
}
.wary_workbench .center {
  width: 94%;
  margin: 88px auto 30px;
  border-radius: 4px;
  position: relative;
}
/*顶部*/
.wary_workbench .center .built_top {
  background-color: transparent;
  border-radius: 4px;
}
.wary_workbench .center .built_top .workbench_title {
  width: 100%;
  font-size: 14px;
  font-family: '微软雅黑';
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 10px 0px 0px;
  overflow: hidden;
  background-color: #fff;
}
.wary_workbench .center .built_top .workbench_title a {
  padding-bottom: 10px;
  float: left;
  padding-right: 5px;
  color: #333;
  margin: 0 24px;
  display: block;
  position: relative;
}
.wary_workbench .center .built_top .workbench_title a.hover {
  border-bottom: 2px solid #33a7ff;
  font-weight: bold;
  color: #33a7ff;
}
/*搜索*/
.wary_workbench .center .built_top .search {
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  padding: 0;
}
.wary_workbench .center .built_top .search ul {
  margin: 0 0 0 12px;
}
.wary_workbench .center .built_top .search ul li {
  float: left;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  width: auto;
  margin: 10px 0;
  padding: 10px 12px 10px 12px;
  z-index: 20;
  line-height: 20px;
}
.wary_workbench .center .built_top .search ul li:nth-child(1) {
  width: auto;
}
.wary_workbench .center .built_top .search ul li span.hover{
  color: #333;
  margin: 0 8px;
  font-size: 14px;
}
.wary_workbench .center .built_top .search ul li span,
.wary_workbench .center .built_top .search ul li i {
  float: left;
}
.wary_workbench .center .built_top .search ul li.hover {
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid #fff;
  padding:10px 12px 10px 12px;
}
.wary_workbench .center .built_top .search ul li span.work_date_title {
  color: #999;
  font-size: 12px;
}
.wary_workbench .center .built_top .search ul li .arrow{
  display: inline-block;
  width: 6px;
  height: 6px;
  background: url('../assets/browse/icon_dow.png') no-repeat;
  background-size: 100%;
  margin-top: 8px;
}
.wary_workbench .center .built_top .search ul li .line {
  margin-left: 10px;
  color: #dadada;
  display: none;
}
.wary_workbench .center .built_top .search .searchTimeWary {
  position: absolute;
  background-color: #fff;
  font-weight: normal;
  color: #333;
  border: 1px solid #e6e6e6;
  padding: 0px 0 5px;
  top: 51px;
  left: 0px;
  right: 0px;
  z-index: 18;
}
.wary_workbench .center .built_top .search .searchTimeWary a {
  display: inline-block;
  height: auto;
  font-size: 14px;
  line-height: 44px;
  text-indent: 15px;
  color: #999;
  padding-left: 12px;
}
.wary_workbench .center .built_top .search .searchTimeWary a:hover,
.wary_workbench .center .built_top .search .searchTimeWary a.hover {
  background-color: transparent;
  color: #333;
}
.wary_workbench .center .built_top .search .searchTimeWary .built_time{
  width: 156px;
  border: 1px solid #cccccc;
  height: 30px;
  display: block;
  margin: 10px auto 0;
  border-radius: 4px;
  text-align: center;
}
.wary_workbench .center .built_top .search .searchTimeWary .time_box {
  margin-left: 15px;
  margin-bottom: 10px;
}
.wary_workbench .center .built_top .search_info {
  color: #999;
  font-size: 12px;
  width: 60%;
  margin-top: 45px;
  margin-left: 10px;
}
/*中间*/
.wary_workbench .center .built_center {
  width: 100%;
  height: 60px;
}
.wary_workbench .center .built_center label {
  width: 200px;
  display: block;
  float: left;
  line-height: 25px;
  margin-left: 18px;
  margin-top: 30px;
}
.wary_workbench .center .built_center label input {
  vertical-align: text-top;
  margin-top: 2px;
}
.wary_workbench .center .built_center .work_botton {
  float: right;
  padding-top: 16px;
}
.wary_workbench .center .built_center .work_botton a {
  display: block;
  width: 82px;
  height: 30px;
  border: 1px solid #ccc;
  color: #666666;
  font-size: 14px;
  float: left;
  margin-left: 15px;
  margin-right: 0;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  background-color: #f5f5f5;
  float: right;
}
.wary_workbench .center .built_center .work_botton a:hover,
.wary_workbench .center .built_center .work_botton a.sb {
  background-color: #33a7ff;
  border-color: #33a7ff;
  color: #fff;
}
/*底部*/
.wary_workbench .center .built_btom {
  /*background: #fff;*/
  background: transparent;
  border-radius: 4px;
  position: relative;
}
.wary_workbench .center .built_btom .nodata {
  padding: 20px 0 20px;
  margin-top: 0;
  border-radius: 4px;
  background: #fff;
}
.wary_workbench .center .built_btom .nodata .noData{
  width: 100%;
  margin: 20px 0 20px;
  color: #d7d7d7;
  text-align: center;
  font-size: 14px;
  clear: both;
}
/*列表*/
.wary_workbench .center .built_btom .work_list {
  width: 100%;
}
.wary_workbench .center .built_btom .work_list .list_pub {
  margin: 1px 0 0;
  border-radius: 4px;
  background: #fff;
}
.wary_workbench .center .built_btom .work_list .list_pub:hover {
  background-color: #f5fbff;
}
.wary_workbench .center .built_btom .work_list .list_pub:last-of-type {
  border-bottom:1px solid #e6e6e6;
}
.wary_workbench .center .built_btom .work_list .list_pub label {
  display: block;width: 50px;float:left;
}
.wary_workbench .center .built_btom .work_list .list_pub label input {
  display: block;margin: 38px 0 0 20px;
}
.wary_workbench .center .built_btom .work_list .list_pub .info {
  margin-left: 50px;
  padding: 16px 0;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body{
  width: 90%;float:left;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit{

}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit p {
  display: inline-block;float:left;padding:1px 6px;color:#fff;background-color: #3ebb2b;border-radius: 2px;margin-right: 4px;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit p.type_jj{background-color: #f8585c;}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit p.type_zy{background-color: #f6a623;}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit p.fenlei {background-color: #007eff;margin-right: 2px;}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit a {
  font-size: 16px;color:#333;line-height: 18px;font-family: '微软雅黑';margin-left: 10px;font-weight: bold;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .jb_info{
  width: 100%;margin-top: 16px;color:#666666;font-size: 12px;font-family: '微软雅黑';
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .jb_info p {
  display: block;float:left;margin-right: 20px;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .jb_info p span {
  color:#999999;
  font-size: 14px;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_cz {
  padding-top: 18px;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_cz a {
  font-family: '微软雅黑';font-size: 14px;color:#33a7ff;display: inline-block;margin-right: 20px;
}
/*指给部门或者我的*/
.wary_workbench .center .built_top .classification {
  height: 42px;
  margin-bottom: 16px;
  background: #fff;
  padding: 0 24px;
  border-radius: 4px;
}
.wary_workbench .center .built_top .classification .nav_button {
  display: inline-block;
  width: auto;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-family: '微软雅黑';
  /*float: left;*/
  color: #333;
  font-size: 14px;
  margin-right: 48px;
  cursor: pointer;
  position: relative;
}
.wary_workbench .center .built_top .classification .nav_button .total_num {
  background-color: #f56c6c;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  box-sizing: border-box;
  font-weight: normal;
}
.wary_workbench .center .built_top .classification .nav_button:hover,
.wary_workbench .center .built_top .classification .nav_button.hover {
  background-color: transparent;
  color: #33a7ff;
  font-weight: bold;
}
/*抄送办理--已读*/
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit a .hasreaded {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 6px;
}
.wary_workbench .center .built_btom .work_list .list_pub .info .info_body .info_tit a .hasreaded img {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: -6px;
}
.wary_workbench .center .built_top .workbench_title a span.num {
  background-color: #f56c6c;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: -8px;
  box-sizing: border-box;
  font-weight: normal;
}
@media screen  and (max-width:1700px){
  .wary_workbench .center .built_btom .work_list .list_pub .info .info_cz a{margin-right: 10px;}
}
@media screen  and (max-width:1400px){
  .wary_workbench .center .built_btom .work_list .list_pub .info .info_body{width: 88%;}
  .wary_workbench .center .built_btom .work_list .list_pub .info .info_cz a{margin-right:5px;}
}
@media screen  and (max-width:1240px){
  .wary_workbench .center .built_btom .work_list .list_pub .info .info_body{width: 88%;}
}
